include CHANGELOG.rst
include LICENSE.txt
include README.rst
include requirements/base.in
include requirements/stage.in
include requirements/prod.in
include requirements/constraints.txt
recursive-include openedx_unidigital *.html *.png *.gif *.js *.css *.jpg *.jpeg *.svg
